/* variables de color */
:root {
    --bg-primary: #f4f4f4;
    --text-primary: #333333;
    --nav-bg: #FFFFFF;
}

/*Estos colores definen el sombreado de las secciones*/
.nav-button[data-color="red"]:hover { box-shadow: 0 0 15px rgba(255, 0, 0, 0.6); }
.nav-button[data-color="blue"]:hover { box-shadow: 0 0 15px rgba(0, 100, 255, 0.6); }
.nav-button[data-color="green"]:hover { box-shadow: 0 0 15px rgba(0, 180, 0, 0.6); }
.nav-button[data-color="yellow"]:hover { box-shadow: 0 0 15px rgba(255, 255, 0, 0.7); }
.nav-button[data-color="purple"]:hover { box-shadow: 0 0 15px rgba(150, 0, 255, 0.6); }


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    scroll-behavior: smooth;
}

.main-header {
    background-color: var(--nav-bg);
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}


/* Flechas pora controlar el carrusel */
.carousel-control {
    position: absolute; /* Esencial para posicionar sobre las imágenes */
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px 10px;
    font-size: 1.5em;
    cursor: pointer;
    z-index: 30; /* Asegura que estén visibles sobre los slides */
    opacity: 0.7;
    transition: opacity 0.3s, background 0.3s;
}

.carousel-control:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.8);
}

.prev-button {
    left: 10px;
    border-radius: 0 5px 5px 0;
}

.next-button {
    right: 10px;
    border-radius: 5px 0 0 5px;
}


.gallery-nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-button {
    text-decoration: none;
    color: var(--text-primary);
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s, transform 0.2s; 
    background: transparent;
}

.nav-button:hover {
    transform: translateY(-2px); 
}

.nav-button span {
    margin-right: 5px;
    font-size: 1.2em;
}
    /*Aqui empieza el Carrusel*/
.carousel-section {
    padding: 0;
    overflow: hidden;
    height: 60vh; 
    background-color: #000;
}

.carousel-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-wrapper {
    overflow: hidden;
    height: 100%;
}

.carousel-track {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 100%;
    flex-shrink: 0;
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: white;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7; 
}

.caption {
    position: absolute;
    bottom: 250px;
    padding: 10px 20px;
    background-color: transparent;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-size: 3.5rem;
    font-weight: bold;
    left: 50%;
    transform: translateX(-50%);
    width: 80%; 
    max-width: 600px
}

.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 20;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: white;
}

.gallery-content {
    min-height: 80vh; 
    padding: 50px 10%;
    text-align: center;
}


.inspiration-card.flip-card {
    background-color: transparent;
    width: 280px;
    height: 380px;
    perspective: 1000px; 
    cursor: pointer;
    box-shadow: none; 
    transform: none !important; 
}


.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s, box-shadow 0.3s;
    transform-style: preserve-3d;
    box-shadow: 0 15px 40px rgba(250, 0, 0, 0.55); 
    border-radius: 8px;
}

.inspiration-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    padding: 0;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    background-color: var(--nav-bg); 
}


.flip-card-front img {
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 8px 8px 0 0; 
    object-position: center top;
}


.akita {
    object-position: center top;
    top: 100px;
}



.flip-card-front h3 {
    margin: 15px 0 0 0;
    padding: 0 10px;
    font-size: 1.2em;
    color: var(--text-primary);
}

.flip-card-back {
    background-color: #F8F8F8; 
    transform: rotateY(180deg); 
    justify-content: center;
    padding: 20px;
}

.flip-card-back .card-text {
    text-align: center;
    padding: 0;
}

.flip-card-back h4 {
    color: var(--text-primary);
    font-size: 1.6em;
    margin-bottom: 10px;
}

.inspiration-card:hover {
    transform: none;
    box-shadow: none;
}

.inspiration-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center; 
    gap: 40px; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px;
}


#inspiracion h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: var(--text-primary);
}


@media (max-width: 768px) {
    
    
    .inspiration-card.flip-card {
        width: 100%; 
        max-width: 400px;
        margin: 0 auto;
    }
}

/*Aqui empieza la sección de bocetos*/

#bocetos {
    background-color: #F7F7F7; 
    padding-bottom: 80px;
}

#bocetos h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: var(--text-primary);
}

#bocetos .section-description {
    max-width: 800px;
    margin: 0 auto 60px auto;
    font-size: 1.1em;
    color: #666;
}

.bocetos-list {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}


.boceto-item {
    display: flex;
    align-items: center; 
    margin-bottom: 80px; 
    gap: 40px;
    padding: 20px 0;
    border-bottom: 1px solid #E0E0E0; 
    opacity: 0.9;
    transition: opacity 0.3s, transform 0.3s;
}

.boceto-item:last-child {
    border-bottom: none; 
}

.boceto-item:hover {
    opacity: 1;
    transform: translateY(-2px);
}

.boceto-image {
    flex: 1; 
    max-width: 50%;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1), 
    0 0 10px rgba(0, 100, 255, 2);
    border-radius: 8px;
    overflow: hidden;
}

.boceto-info {
    flex: 1; 
    max-width: 50%;
    padding: 20px;
}

.boceto-image img {
    width: 100%;
    height: 350px; 
    object-fit: cover; 
    display: block;
    background-color: #FFF; 
}


.boceto-item.right {
    flex-direction: row-reverse; /
}

.boceto-item.right .boceto-info {
    text-align: center;
}

.boceto-info h3 {
    font-size: 1.8em;
    color: var(--text-primary);
    margin-top: 0;
}

.boceto-info p {
    font-size: 1em;
    color: #444;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .boceto-item {
        flex-direction: column; 
        gap: 20px;
        margin-bottom: 40px;
        padding: 0 0 20px 0;
    }
    .boceto-image, .boceto-info {
        max-width: 100%; 
        padding: 0;
    }
    
    .boceto-item.right {
        flex-direction: column;
    }
    .boceto-item.right .boceto-info {
        text-align: left;
    }
}

/*Aqui empieza la sección de Curiosidades*/

.curiosity-shelf {
    display: flex; 
    justify-content: center;
    align-items: flex-end; 
    gap: 10px;
    max-width: 1200px;
    margin-top: 20px auto;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    height: 400px; 
}

.section-description {
    margin-bottom: 80px; 
    margin-left: auto;
    margin-right: auto;
}

.curiosity-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 60px; 
    height: 100%;
    flex-shrink: 0; 
    transition: all 0.5s ease-in-out;
    border-radius: 8px;
    box-shadow: 0 5px 55px rgba(0, 180, 0, 0.9);
}

.curiosity-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cubre el área del "libro" */
    transition: opacity 0.5s;
}

.curiosity-item.expanded {
    width: 60%; 
    box-shadow: 0 10px 30px rgba(0, 180, 0, 0.9);
    z-index: 50; 
}

.curiosity-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: left;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
    height: 120px;
}

.curiosity-item.expanded .curiosity-content {
    transform: translateY(0); 
}

.curiosity-item.expanded img {
    opacity: 0.8;
}

.curiosity-item:not(.expanded) {
    width: 60px;
}

#curiosidades h2 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: var(--text-primary);
}

#curiosidades h2 .material-icons {
    margin-right: 8px; 
    font-size: 1.1em; 
    vertical-align: middle; 
}
/*Aqui empieza la zona de creación*/

.creation-timeline {
    max-width: 1200px;
    margin: 60px auto;
    padding: 0 20px;
}

.creation-step {
    display: flex;
    align-items: center; 
    margin-bottom: 60px;
    gap: 40px; 
    padding-bottom: 40px;
}

.step-image {
    flex: 0 0 45%; 
    max-width: 45%;
    box-shadow: 0 4px 15px rgba(255, 255, 0, 0.9);
    border-radius: 8px;
    overflow: hidden;
}

.step-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.step-info {
    flex: 0 0 55%; 
    max-width: 55%;
    text-align: left;
}

.step-info h3 {
    font-size: 1.8em;
    color: var(--color-secondary); 
    margin-bottom: 10px;
}

.creation-step.reverse {
    flex-direction: row-reverse; 
}
#creacion h2 {
    font-size: 3.5em; 
    margin-bottom: 10px; 
    color: var(--text-primary);
}

#creacion h2 .material-icons {
    margin-right: 8px; 
    font-size: 1.1em; 
    vertical-align: middle; 
}

/*Aqui empieza la seccion del logo*/

#logo h2 {
    font-size: 3.5em; 
    margin-bottom: 10px; 
    color: var(--text-primary);
}

#logo h2 .material-icons {
    margin-right: 8px; 
    font-size: 1.1em; 
    vertical-align: middle; 
}

.logo-carousel-container-simple {
    max-width: 900px; 
    height: 450px; 
    margin: 40px auto;
    position: relative; 
    overflow: hidden; 
}

.logo-carousel-track-simple {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 600%; 
    height: 100%; 
}

.logo-carousel-item-simple {
    min-width: 16.666%; 
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 25px rgba(150, 0, 255, 0.9); 
    border-radius: 8px;
    margin: 0; 
}

.logo-carousel-item-simple img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
    display: block;
}

.logo-caption {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 40%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    opacity: 15;
    color: rgb(247, 245, 245);
    text-align: center;
    overflow: hidden;
}
/*Aqui empieza el footer*/
.main-footer {
    background-color: #1a1a1a; 
    color: #f0f0f0; 
    padding: 60px 20px 20px;
    font-family: 'Poppins', sans-serif; 
    border-top: 5px solid rgba(160, 0, 255, 0.7); 
}

.footer-content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px; 
}

.footer-section {
    flex: 1; 
    min-width: 250px; 
}

.footer-section h3 {
    color: var(--text-primary); 
    font-size: 1.8em;
    margin-bottom: 25px;
    position: relative;
    padding-bottom: 10px;
}

.footer-section h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px; 
    height: 4px;
    background-color: var(--color-purple); 
    border-radius: 2px;
}

.footer-section p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 12px;
    text-align: center;
}

.footer-section ul li a {
    color: #cccccc;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    font-size: 1.05em;
    display: inline-flex;
    align-items: center;
}

.footer-section ul li a:hover {
    color: var(--color-yellow); 
    transform: translateX(5px);
}

.footer-logo img {
    max-width: 100px;
    height: auto;
    opacity: 0.8;
}


.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333; 
    transition: background-color 0.3s ease, transform 0.3s ease;
    overflow: hidden; /* Para contener los filtros SVG */
}

.social-icon img {
    width: 28px; 
    transition: filter 0.3s ease, transform 0.3s ease;
}

.social-icon.instagram:hover { background-color: #E1306C; transform: translateY(-5px); } 
.social-icon.instagram img { filter: invert(1) sepia(1) saturate(7) hue-rotate(290deg); } 
.social-icon.linkedin:hover { background-color: #0077B5; transform: translateY(-5px); } 
.social-icon.linkedin img { filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg); } 
.social-icon.google:hover { background-color: #DB4437; transform: translateY(-5px); } 
.social-icon.google img { filter: invert(1) sepia(1) saturate(5) hue-rotate(340deg); } 
.social-icon.github:hover { background-color: #6e5494; transform: translateY(-5px); } 
.social-icon.github img { filter: invert(1) sepia(1) saturate(5) hue-rotate(270deg); } 

.footer-bottom {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #333;
    font-size: 0.9em;
    color: #aaa;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-section {
        margin-bottom: 30px;
    }
    .footer-section h3::after {
        left: 50%;
        transform: translateX(-50%);
    }
    .footer-section ul {
        display: inline-block; 
        margin: 0 auto;
    }
}
/*Aqui se centran los textos de enlaces rapidos*/
.footer-section.links {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section.links ul {
    display: inline-block; 
    margin: 0 auto; 
    width: auto;
    text-align: left;
}
